.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 3rem;
  font-size: "14px";
  color: "#666";
}

.tags-container {
  min-height: 32px;
}

.card-title {
  min-height: 2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
